<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>KSPopupMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KSPopupMenuTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>KSPopupMenuTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05A15D7F19ACDE28001301C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05A15D9419ACDE28001301C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05C1C07B19AB521200237981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05C1C08619AB521200237981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05C1C09319AB524A00237981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05C1C09919AB528C00237981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
