<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PzSheetView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PzSheetViewTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PzSheetViewTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>054EF6FD199CDCFC0099CD92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>054EF708199CDCFC0099CD92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05845280199CE49400E1E656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05845289199CE83700E1E656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0584529E199CE83700E1E656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
