<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>KCTouchableLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KCTouchableLabelTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>KCTouchableLabelTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0513827419D16421006F3B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0513827F19D16421006F3B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05629B4D19D1693D001CE7D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05629B5619D169A9001CE7D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05629B6E19D169A9001CE7D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
